
.gallery{
    margin-top: 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-card{
    position: relative;
    overflow: hidden;
    box-shadow: 5px 4px 11px -3px rgba(15, 31, 3, 0.56);
    height: 400px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 25%;
    border: 2px #640064 solid;
    border-radius: 10px;
    img{
        width: 100%;
        //max-height: 310px;
       // height: 100%;
        object-fit: contain;
        
    }
    &:hover{
        transform: scale(1.1);
        transition-duration: 250ms;
        cursor: pointer;
    }
    .info{
        padding-left: 10px;
        display: flex;
        position: absolute;
        bottom:0%;
        max-width: 90%;
        z-index: 1000;
       // border: 2px #d8140d dashed;
    }
    .info-item{
        margin-left: 10px;
    }
    
}
ul, li{
    list-style: none;
}

.info-icons{
        width: 32px;
        height: 32px;
        fill: #640064;
        z-index: 4110;
        
    }