.searchbar{
height: 100px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background: linear-gradient(186deg, #640064 0%, #ffdf00 10%, #ffdf00 10%, #640064 60%);
box-shadow: 5px 4px 11px -3px rgba(15, 31, 3, 0.56);
}
.search-form{
    width: 70%;
    input{
        height: 45px;
        border-radius: 10px;
        border-width: 0;
        box-shadow: 5px 4px 11px -3px rgba(15, 31, 3, 0.56);
        width: 50%;
        padding-left: 20px;
    }
    button{
        margin-left:2em;
        height: 60px;
        width: 60px;
        border-radius: 10px;
        border-width: 0;
        box-shadow: 5px 4px 11px -3px rgba(15, 31, 3, 0.56);

        .search-icon{
            width: 32px;
            height: 32px;
            fill: #640064;
        }
        &:hover{
            transform: scale(1.1);
            transition-duration: 250ms;
            cursor: pointer;
        }
        
    }
}
